{% extends "bootstrap/base.html" %}
{% block title %}SuperMenu{% endblock %}

{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SuperMenu</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/login/">登录</a></li>
                <li><a href="/register/">注册</a></li>
                <li><a href="/menus/?page=1">菜单</a></li>
                <li><a href="/apk/">下载APP</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
        {% block page_content %}{% endblock %}
</div>
{% endblock %}
