{% extends "base.html" %}

{% if authorize %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <text class="navbar-brand">SuperMenu</a>
        </div>
    </div>
</div>
{% endblock %}
{% endif %}



{% block content %} <!--具体内容-->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
    {% endwith %}

    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" name="username" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="passworld">密码</label>
                <input type="password" class="form-control" name="password" placeholder="请输入密码">
            </div>
            {% if register %}
            <div class="form-group">
                <label for="nickname">昵称</label>
                <input type="text" class="form-control" name="nickname" placeholder="请输入昵称（由中文组成）">
            </div>
            {% endif %}
            {% if login %}
            <button type="submit" name="button" class="btn btn-default" value='login'>登录</button>
            <button name="button" name="button" class="btn btn-default" value='toregister'>去注册 -></button>
            {% endif %}
            {% if register %}
            <button type="submit" name="button" class="btn btn-default" value='register'>注册</button>
            <button name="button" name="button" class="btn btn-default" value='tologin'>去登录 -></button>
            {% endif %}
            {% if authorize %}
            <button type="submit" name="button" class="btn btn-default" value='login'>授权</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
